div.header1{
	color:white;
	background-color:
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(0,58,87,1) 0%, rgba(0,95,156,1) 25%, rgba(0,177,191,1) 75%, rgba(0,255,235,1) 90%); 
	margin-left:200px;
	margin-right:200px;
	height:100px;
	text-align:center;
	font-size:40px;
	padding-top:40px;
	font-family: Courier New, monospace;
}

.form-inline {  
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

div.body0{
	margin-top:10px;
	color:black;
	margin-left:200px;
	margin-right:200px;
	background-color:rgba(0,177,191,0.5);
	height:800px;
	padding-left:100px;
	padding-top:100px;
}

div.body1{
	display: flex;
	justify-content: center;
}

.form-inline {  
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

input[type=text], select {
	padding: 10px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: Courier, monospace;
}

.label{
	color:black;
	font-family: Courier, monospace;
}

.button{
	background-color: white;
	border: none;
	text-align: center;
	padding: 10px 20px;
	font-size: 15px;
	color:black;
	font-family: Courier, monospace;
}



div.body2{
	margin-top:200px;
	position: relative;
	height: 400px;
	z-index: 15;
	top: 20%;
	left: 50%;
	margin: -100px 0 0 -150px;
	float:left;
}

div.hat{
	background-color:rgba(0,0,0,1);
	width:100px;
	height:100px;
	margin-bottom:0px;
	margin-left:100px;
}

div.hands{
	background-color:rgba(255,255,255,1);
	width:100px;
	height:100px;
	float:left;
	margin-left:100px;
}


div.body_h{
	background-color:rgba(200,200,200,1);
	width:100px;
	height:100px;
}

div.pants{
	background-color:rgba(150,150,150,1);
	width:100px;
	margin-left:100px;
	height:100px;
}

div.shoes{
	background-color:rgba(100,100,100,1);
	width:100px;
	margin-left:100px;
	height:100px;
}

div.body3{
	margin-top:100px;
	font-family: Courier, monospace;
}





